@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&display=swap');

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    background: #333;
    overflow: hidden;
  }
  
  .landing-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .landing {
    position: relative;
    background-image: url('devgarg-recording.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .landing h1 {
    font-size: 60px;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;

  }
  
  .landing p {
    font-size: 20px;
  }
  

  .social-icons {
  margin-top: 40px;
  }

  .social-icons i{
    color : white;
    font-size: 35px;
    margin : 0 20px;
}

.social-icons i:hover {
  color: gainsboro;
}

h2 {
font-size: 40px;
}


  @media (max-width: 650px) {
    .landing img {
      width: 70%;
    }
  
    .landing h1 {
      font-size: 30px;
    }
  
    .countdown {
      font-size: 30px;
      flex-direction: column;
    }
  
    .countdown div {
      display: none;
    }
  
    .countdown div:first-child {
      display: block;
      width: 80%;
      padding: 10px;
    }
  }
  
  
  @media (max-width: 600px) {
    img {
      width: 20%;
    }
  
    p {
      display: none;
    }
  }
  
  @media (max-width: 400px) {
     img {
      padding-bottom: 30px;
    }
    
    h1 {
      display: none;
    }
  }